* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 100vh;

}
header{
    height: 15vh;

}
main{
    height: 75vh;

}
footer{
    height: 10vh;
}

/* clases boostrap */
/* .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0d6efd;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0bd748 !important;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd; */ 

.fondo-nav{
    background-image: url(../assets/img/fondo\ verde\ oscuro\ casi\ negro.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fondo-logo{
    background-image: url(../assets/img/negro\ y\ verde.jpg);
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    }
    .text{
        color: #0bd748;
    }
    .fondo-main{
        background-image: url(../assets/img/fondo\ carrito\ verde\ y\ amarillo.jpg);
        background-position: center;
        background-size: cover;
    }
    .galeria{
        color: brown;
    }

    .fondo-titulo{background-color: rgba(0, 0, 0, 0.61);}

    .fondo-loging{
        background-image: url(../assets/img/fondo-transparente-signos-dolar_390775-892.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }